
<footer>
    <div class="grid">
        <section>
            <article>
                Footer
            </article>
        </section>
    </div>
</footer>

<script src="/js/main.js"></script>
</body>

</html>