<!-- Site footer -->
<footer class="<%= path === '/cart' || path === '/orders' || path === '/about' ||  path === '/login' ||  path === '/signup' ||  path === '/checkout' ? 'footer' : '' %>">
    <div class="">


        <div class="">
            <div class="">
                <div class="">
                    <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
                        <span class="tc-accent" href="#">Publishing House</span>.
                    </p>
                </div>

                <div class="social-grid">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/js/main.js"></script>
</body>

</html>