<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="">
                <section class=" border-box padding-3 text-justify">

                    <h1 class="category__title">Our publishing house</h1>
                    <hr>
                    <article>
                        <h2>
                            Why book are so important
                        </h2>

                        <hr>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eligendi recusandae modi
                            odit esse molestiae? Praesentium reiciendis iure sit a maxime, nihil atque fugiat voluptatem
                            animi neque fuga mollitia laudantium! Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Hic nesciunt voluptatibus enim omnis? Et quo, impedit quae quisquam facere id, iure
                            fugiat sapiente ab magnam repellat nostrum adipisci odio a? Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Qui est eligendi delectus animi, aspernatur numquam odio ad
                            dolores ipsum suscipit a minus at! Nam deserunt fugit quaerat? Sequi, natus vero.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eligendi recusandae modi
                            odit esse molestiae? Praesentium reiciendis iure sit a maxime, nihil atque fugiat voluptatem
                            animi neque fuga mollitia laudantium! Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Hic nesciunt voluptatibus enim omnis? Et quo, impedit quae quisquam facere id, iure
                            fugiat sapiente ab magnam repellat nostrum adipisci odio a? Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Qui est eligendi delectus animi, aspernatur numquam odio ad
                            dolores ipsum suscipit a minus at! Nam deserunt fugit quaerat? Sequi, natus vero.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eligendi recusandae modi
                            odit esse molestiae? Praesentium reiciendis iure sit a maxime, nihil atque fugiat voluptatem
                            animi neque fuga mollitia laudantium! Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Hic nesciunt voluptatibus enim omnis? Et quo, impedit quae quisquam facere id, iure
                            fugiat sapiente ab magnam repellat nostrum adipisci odio a? Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Qui est eligendi delectus animi, aspernatur numquam odio ad
                            dolores ipsum suscipit a minus at! Nam deserunt fugit quaerat? Sequi, natus vero.
                        </p>
                    </article>


                </section>
            </main>
            <%- include('../includes/end.ejs') %>