<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="">
                <section class=" border-box padding-3 text-justify">

                    <h1 class="category__title">Our publishing house</h1>
                    <hr>
                    <article>
                        <h2>
                           Book
                        </h2>

                        <hr>

                        <p>
                            You are about to begin reading Italo Calvino's new novel, If on a winter's night a traveler.
                            Relax. Concentrate. Dispel every other thought. Let the world around you fade. Best to close
                            the door; the TV is always on in the next room. Tell the others right away, "No, I don't
                            want to watch TV!" Raise your voice -- they won't hear you otherwise -- "I'm reading! I
                            don't want to be disturbed!" Maybe they haven't heard you, with all that racket; speak
                            louder, yell: "I'm beginning to read Italo Calvino's new novel!" Or if you prefer, don't say
                            anything: just hope they'll leave you alone
                        </p>
                        <p>
                            You are about to begin reading Italo Calvino's new novel, If on a winter's night a traveler.
                            Relax. Concentrate. Dispel every other thought. Let the world around you fade. Best to close
                            the door; the TV is always on in the next room. Tell the others right away, "No, I don't
                            want to watch TV!" Raise your voice -- they won't hear you otherwise -- "I'm reading! I
                            don't want to be disturbed!" Maybe they haven't heard you, with all that racket; speak
                            louder, yell: "I'm beginning to read Italo Calvino's new novel!" Or if you prefer, don't say
                            anything: just hope they'll leave you alone
                        </p>
                        <p>
                            You are about to begin reading Italo Calvino's new novel, If on a winter's night a traveler.
                            Relax. Concentrate. Dispel every other thought. Let the world around you fade. Best to close
                            the door; the TV is always on in the next room. Tell the others right away, "No, I don't
                            want to watch TV!" Raise your voice -- they won't hear you otherwise -- "I'm reading! I
                            don't want to be disturbed!" Maybe they haven't heard you, with all that racket; speak
                            louder, yell: "I'm beginning to read Italo Calvino's new novel!" Or if you prefer, don't say
                            anything: just hope they'll leave you alone
                        </p>
                    </article>


                </section>
            </main>
            <%- include('../includes/end.ejs') %>